openapi: 3.2.0
info:
  title: Rootly Incidents API
  description: Minimal OpenAPI description of the Rootly incident management REST API.
  version: 1.0.0
  x-generated-from: https://docs.rootly.com/llms.txt
  x-generated-by: claude-crawl-2026-05-08
servers:
- url: https://api.rootly.com/v1
  description: Rootly production API
security:
- bearerAuth: []
tags:
- name: Incidents
paths:
  /incidents:
    get:
      tags:
      - Incidents
      summary: List incidents
      parameters:
      - $ref: '#/components/parameters/PageNumber'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Successful response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Collection'
      operationId: getIncidents
      x-operation-id-source: derived
    post:
      tags:
      - Incidents
      summary: Create incident
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '201':
          description: Created
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Resource'
      operationId: postIncidents
      x-operation-id-source: derived
  /incidents/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Incidents
      summary: Get incident
      responses:
        '200':
          description: Successful response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Resource'
      operationId: getIncidentsById
      x-operation-id-source: derived
    patch:
      tags:
      - Incidents
      summary: Update incident
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          description: Successful response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Resource'
      operationId: patchIncidentsById
      x-operation-id-source: derived
    delete:
      tags:
      - Incidents
      summary: Delete incident
      responses:
        '204':
          description: No content
      operationId: deleteIncidentsById
      x-operation-id-source: derived
  /incidents/{id}/mitigate:
    parameters:
    - $ref: '#/components/parameters/Id'
    post:
      tags:
      - Incidents
      summary: Mitigate incident
      responses:
        '200':
          description: Successful response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Resource'
      operationId: postIncidentsByIdMitigate
      x-operation-id-source: derived
  /incidents/{id}/resolve:
    parameters:
    - $ref: '#/components/parameters/Id'
    post:
      tags:
      - Incidents
      summary: Resolve incident
      responses:
        '200':
          description: Successful response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Resource'
      operationId: postIncidentsByIdResolve
      x-operation-id-source: derived
components:
  parameters:
    PageNumber:
      name: page[number]
      in: query
      description: Page number for pagination
      schema:
        type: integer
        minimum: 1
    Id:
      name: id
      in: path
      required: true
      description: Resource identifier
      schema:
        type: string
    PageSize:
      name: page[size]
      in: query
      description: Number of items per page
      schema:
        type: integer
        minimum: 1
        maximum: 200
  schemas:
    Resource:
      type: object
      description: Generic JSON:API resource document.
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              type: object
              additionalProperties: true
            relationships:
              type: object
              additionalProperties: true
      additionalProperties: true
    Collection:
      type: object
      description: Generic JSON:API collection document.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Resource'
        meta:
          type: object
          additionalProperties: true
        links:
          type: object
          additionalProperties: true
      additionalProperties: true
  requestBodies:
    Generic:
      description: Generic JSON:API request body
      required: true
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/Resource'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token authentication. Pass your API token as `Authorization: Bearer YOUR-TOKEN`.'
